@model BerrasBioMarcin.ViewModels.MovieViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovieTitleName" class="control-label"></label>
                <input asp-for="MovieTitleName" class="form-control" />
                <span asp-validation-for="MovieTitleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieReleaseDate" class="control-label"></label>
                <input asp-for="MovieReleaseDate" class="form-control" />
                <span asp-validation-for="MovieReleaseDate" class="text-danger"></span>
            </div>
            <div >
                <label class="form-label" for="GenreId">Choose genre: </label>
                <select name="GenreId" class="form-select">

                <option selected>Choose the genre: </option>
                    
                        @for (int i = 0; i < ViewBag.Genres.Count; i++){
                        <option asp-for="GenreId" value="@ViewBag.Genres[i].GenreId">@ViewBag.Genres[i].GenreName </option>
                    }
                    
                    
                </select>
                <span asp-validation-for="GenreId" class="text-danger"></span>

            @*Html.DropDownList("Genres", new SelectList(ViewBag.Genres, "GenresId", "GenresName", new { @class = "form-select"}))*@
            </div>

            <div class="form-group">  
                            <label asp-for="MovieImage" class="control-label"></label>  
                            <div class="custom-file">  
                                <input asp-for="MovieImage" class="custom-file-input" id="customFile">  
                                <label class="custom-file-label" for="customFile">Choose file</label>  
                            </div>  
                            <span asp-validation-for="MovieImage" class="text-danger"></span>  
                        </div> 
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
